<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="imgs/favicon.ico">
        <!-- build:css styles.min.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- /build -->
    </head>
    <body>
        <div class="main">
            <h1 class="title">Game Of Life</h1>
            <h2> jQuery Way </h1> 
            <div>
                <div id="jq-1"></div>
                <div>
                    <button action="next">Next</button>
                    <button action="start">Start Interval</button>
                    <button action="stop">Stop Interval</button>
                </div>
            </div>
            <h2> Angular Way </h1> 
            <div ng-app="app">
                <div ng-controller="mainController">
                    <game-of-life cols="cols" rows="rows" options="options"></game-of-life>
                    <div>
                        <button ng-click="next()">Next</button>
                        <button ng-click="start()">Start Interval</button>
                        <button ng-click="stop()">Stop Interval</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- build:js main.min.js -->
        <!-- libs needed -->
        <script src="scripts/lib/lodash.min.js"></script>
        <script src="scripts/lib/jquery.min.js"></script>
        <script src="scripts/lib/angular.min.js"></script>
        <!-- core of engine of game of life -->
        <script src="scripts/core/game_of_life.js"></script>
        <!-- jqery lugin components -->
        <script src="scripts/jquery_components/jq_game_of_life.js"></script>
        <script src="scripts/angular_directives/ng_game_of_life.js"></script>
        <!-- boostrap -->
        <script src="scripts/main.js"></script>
        <!-- /build -->

        
    </body>
</html>