.dead {
	background-color: #fff;
}

.alive {
	background-color: #000;
}

th {
	height: 3px;
	width: 3px;
	border: 1px solid grey;
}

.title {
	text-align: center;
}

.main {
	width: 800px;
	margin: auto;
}